<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <!-- Required to maintain app compatibility. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk tools:overrideLibrary="org.neshan.servicessdk,org.neshan.mapsdk,org.neshan.common,com.google.firebase.messaging" />
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:localeConfig="@xml/locales_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:supportsRtl,android:icon">
        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://9ca63cfdc64341d9b9b95ca0f41b52bc@o1135344.ingest.sentry.io/6232546" />
        <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production. -->
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />
        <meta-data
            android:name="io.sentry.auto-init"
            android:value="true" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY" />

        <!-- locale service       -->
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewsWithCategoryUsedActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.ArticleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleSearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ArticleWithCategoryUsedActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.EstateListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EstateDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchEstateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AboutUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.NewEstateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GetLocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyEstateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoriteEstateListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MainActivity3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LandUsedListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EstateListWithFilterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditEstateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".activity.NewCustomerOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EstateCustomerOrderListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EstateListWithOrderIdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditCustomerOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EstateHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompanyListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ProjectDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CompanyDetailActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ntk.android.estate.APPNTK"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".service.SmsService"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="15000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>